[tool.poetry]
name = "autopub"
version = "0.2.1"
description = "Automatic package release upon pull request merge"
authors = ["Justin Mayer <entroP@gmail.com>"]
license = "AGPL-3.0"
readme = "README.md"
keywords = ["automatic", "packaging", "publish", "release", "version"]
repository = "https://github.com/autopub/autopub"

classifiers = [
    "Development Status :: 4 - Beta",
    "Environment :: Console",
    "Intended Audience :: Developers",
    "Operating System :: OS Independent",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Topic :: System :: Software Distribution",
    "Topic :: System :: Systems Administration",
]

[tool.poetry.urls]
"Issue Tracker" = "https://github.com/autopub/autopub/issues"

[tool.poetry.dependencies]
python = "^3.6"
tomlkit = ">= 0.5, < 2.0"
githubrelease = {version = "^1.5.8", optional = true}
httpx = {version = "=0.16.1", optional = true}

[tool.poetry.dev-dependencies]
githubrelease = "^1.5"
black = {version = "^19.3b0", allow-prereleases = true}
flake8 = "^3.8"
flake8-black = "^0.2"
flake8-bugbear = "^20.0"
flake8-fixme = "^1.1"
flake8-markdown = "^0.2.0"

[tool.poetry.extras]
github = ["githubrelease", "httpx"]

[tool.poetry.scripts]
autopub = "autopub.autopub:main"

[tool.autopub]
project-name = "AutoPub"
git-username = "botpub"
git-email = "botpub@autopub.rocks"
append-github-contributor = true

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
