[tool.poetry]
name = "autopub"
version = "0.1.3"
description = "Automatic package release upon pull request merge"
authors = ["Justin Mayer <entroP@gmail.com>"]
license = "AGPL-3.0"
readme = "README.md"
keywords = ["automatic", "packaging", "publish", "release", "version"]

[tool.poetry.dependencies]
python = "^3.7"
tomlkit = "^0.5.5"
githubrelease = {version = "^1.5.8",optional = true}

[tool.poetry.dev-dependencies]
githubrelease = "^1.5"
black = {version = "^19.3b0",allows-prereleases = true}
flake8 = "^3.7"
flake8-black = "^0.1.0"
flake8-bugbear = "^19.3"
flake8-fixme = "^1.1"
flake8-markdown = "^0.2.0"

[tool.poetry.extras]
github = ["githubrelease"]

[tool.poetry.scripts]
autopub = "autopub.autopub:main"

[tool.autopub]
project-name = "AutoPub"
git-username = "botpub"
git-email = "botpub@autopub.rocks"

[tool.black]
line-length = 85

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
